/****** X-Small devices (portrait phones, less than 576px) ******/
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Inter&family=PT+Sans&display=swap');


body {
	max-width: 100%;
	max-height: 100%;
}

img {
	max-width: 100%;
}

.grid {
	padding: 10px;
}

/* clearfix */
.grid:after {
	content: '';
	display: block;
	clear: both;
}

.grid-item {
	width: calc(25%);
	margin-bottom: 10px;
}

.about {
	margin-bottom: auto;
	margin-top: auto;
}

/* 
.grid-item--width2 {
} */

.hiruth {
	margin-bottom: auto;
	margin-top: auto;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, output, ruby, section, summary,
time, mark, audio, video {
	font-family: 'PT Sans', sans-serif;
}

p{
	font-family: 'Inter', sans-serif;
}

nav{
	font-family: 'Archivo Black', sans-serif;
}

/****** Medium devices (tablets, 768px and up) ******/
@media (min-width: 768px) {
	.grid {
		padding: 20px;
	}

	.contact {
		max-width: calc(75%);
	}

}

/****** Large devices (desktops, 992px and up) ******/
@media (min-width: 992px) {
	.grid {
		padding: 30px;
	}

	.contact {
		max-width: calc(50%);
	}

}