/****** X-Small devices (portrait phones, less than 576px) ******/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,700&display=swap');

body {
	max-width: 100%;
	max-height: 100%;
}

img {
	max-width: 100%;
}

.grid {
	padding: 10px;
}

/* clearfix */
.grid:after {
	content: '';
	display: block;
	clear: both;
}

.grid-item {
	width: calc(25%);
	margin-bottom: 10px;
}

.about {
	margin-bottom: auto;
	margin-top: auto;
}

/* 
.grid-item--width2 {
} */

.hiruth {
	margin-bottom: auto;
	margin-top: auto;
}

/****** Medium devices (tablets, 768px and up) ******/
@media (min-width: 768px) {
	.grid {
		padding: 20px;
	}

	.contact {
		max-width: calc(75%);
	}

}

/****** Large devices (desktops, 992px and up) ******/
@media (min-width: 992px) {
	.grid {
		padding: 30px;
	}

	.contact {
		max-width: calc(50%);
	}

}